dash
dash-bootstrap-components
dash_cytoscape
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
fastcoref
gunicorn
langchain-openai
networkx
numpy
pandas
requests
scikit-learn
sentence-transformers
spacy
tqdm
srtk
